/* .card1{
  width:220;
  height:230;
  background:"Linear-gradient(#FF007A,#4200FF)";
}

.card2{
    height:150;
    width:'100%';
    /* background:"Linear-gradient(#FF007A,#4200FF)"; */
    /* color:'white';
    font-size: 30;
    padding-top:20;
    font-family:'cursive' */

  
}

/* .sp1{
  justify-content: space-between;
  row-gap: 15px;
} */

/* .maindiv{
  justify-content: space-between;
  row-gap: 15px;
} */

/* .sp2{
  justify-content: space-between;
  row-gap: 15px;
} */
 */
